<div class="applicant-data">
    <div id="inmateSearch" class="clearfix">
        <div class="col-xs-12 col-md-3">
            <div class="form-group">
                <label class="control-label">DOC Inmate Search</label>
                <div class="input-group controls">
                    <input id="inmateLookup" type="text" class="form-control" placeholder="Press Enter when ready">
                    <span class="input-group-addon right search"></span>
                </div>
            </div>
        </div>
    </div>
    <div id="inmateNo" class="clearfix">
        <div class="col-xs-12 col-md-3">
            <div class="form-group">
                <label class="control-label">Inmate Number</label>
                <input type="text" class="form-control" />
            </div>
        </div>
    </div>
    <div class="clearfix">
        <div class="col-xs-12 col-md-3">
            <div class="form-group">
                <label class="control-label">Last Name</label>
                <input type="text" class="form-control" />
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="form-group">
                <label class="control-label">First Name</label>
                <input type="text" class="form-control" />
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="form-group">
                <label class="control-label">Middle Name</label>
                <input type="text" class="form-control" />
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="form-group custom-dropdown">
                <label class="control-label">Suffix</label>
                <input type="text" data-id="1" name="ddlsuffix" required="" id="ddlsuffix" class="form-control"
                       autocomplete="off" placeholder="Select One" dropdownlist />
                <span class="input-group-addon right dropdown-icon"></span>
            </div>
        </div>
    </div>
    <div class="clearfix">
        <div class="col-xs-12 col-md-3">
            <div class="form-group">
                <label class="control-label">Date Of Birth</label>
                <div class="input-group controls date" data-date-format="mm/dd/yyy">
                    <input id="txtDateOfBirth" type="text" class="form-control" datepicker>
                    <span typeof="date" class="input-group-addon right date-field"></span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="form-group">
                <label class="control-label">Maiden Name</label>
                <input type="text" class="form-control" />
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="form-group">
                <label class="control-label">Place of Birth</label>
                <input type="text" class="form-control" />
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="form-group custom-dropdown">
                <label class="control-label">Race/Ethnicity</label>
                <input type="text" data-id="2" name="ddlRace" required="" id="ddlRace" class="form-control"
                       autocomplete="off" placeholder="Select One" dropdownlist />
                <span class="input-group-addon right dropdown-icon"></span>
            </div>
        </div>
    </div>
    <div class="clearfix">
        <div class="col-xs-12 col-md-3">
            <div class="form-group">
                <label class="control-label">Age</label>
                <input type="text" class="form-control" readonly />
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="form-group custom-dropdown">
                <label class="control-label">Driver's License State</label>
                <input type="text" data-id="3" name="ddlDriverLicenseState" required="" id="ddlDriverLicenseState" class="form-control"
                       autocomplete="off" placeholder="Select One" dropdownlist />
                <span class="input-group-addon right dropdown-icon"></span>
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="form-group">
                <label class="control-label">Driver's License Number</label>
                <input type="text" class="form-control" />
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="form-group custom-dropdown">
                <label class="control-label">Sex</label>
                <input type="text" data-id="3" name="ddlsex" required="" id="ddlsex" class="form-control"
                       autocomplete="off" placeholder="Select One" dropdownlist />
                <span class="input-group-addon right dropdown-icon"></span>
            </div>
        </div>
    </div>
    <div id="businessDemo" class="clearfix">
        <div class="col-xs-12 col-md-3">
            <div class="form-group">
                <label class="control-label">Organization Name</label>
                <input type="text" class="form-control" />
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="form-group">
                <label class="control-label">Position</label>
                <input type="text" class="form-control" />
            </div>
        </div>
    </div>
</div>